<!-- Navbar bonito azul -->
<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Home" class="navbar-icon" />
    <span class="navbar-title">Hakoroom</span>
  </div>
  <div class="navbar-right">
    <div class="navbar-links">
      <a routerLink="/" class="navbar-link">Inicio</a>
      <a routerLink="/main" class="navbar-link">Publicaciones</a>
      <a routerLink="/favoritos" class="navbar-link">Favoritos</a>
    </div>
    <div class="navbar-profile">
      <a routerLink="/perfil" class="navbar-link">Perfil</a>
    </div>
  </div>
</nav>
