<!-- <nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
    <li><a routerLink="/detalle-locacion/1" routerLinkActive="active">Detalle Locación 1</a></li>
    <li><a routerLink="/detalle-locacion/2" routerLinkActive="active">Detalle Locación 2</a></li>
    <li><a routerLink="/detalle-locacion/3" routerLinkActive="active">Detalle Locación 3</a></li>
    <li><a routerLink="/admin-reportes" routerLinkActive="active">Reportes</a></li>
  </ul>
</nav> -->
