<div class="container">
  <h1>Publicar Propiedad</h1>
  <form [formGroup]="formularioPropiedad" (ngSubmit)="alEnviar()">
    <div class="form-group">
      <label for="fotos">Fotos</label>
      <div class="fotos-container">
        <div class="foto-cuadro" (click)="inputImagenes.click()">
          <span class="plus-icon">+</span>
          <input
            #inputImagenes
            id="fotos"
            type="file"
            (change)="alCambiarArchivo($event)"
            multiple
            accept="image/*"
            style="display: none"
          />
        </div>
        <div class="miniaturas">
          <div
            class="miniatura-wrapper"
            *ngFor="let preview of imagenesPreview; let i = index"
          >
            <img [src]="preview" class="miniatura" alt="foto seleccionada" />
            <span class="eliminar-x" (click)="eliminarImagen(i)">×</span>
          </div>
        </div>
      </div>
      <div class="error" *ngIf="errorImagenes">
        Debes subir al menos una foto.
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea
        id="descripcion"
        formControlName="descripcion"
        placeholder="Describe la propiedad"
      ></textarea>
      <div
        class="error"
        *ngIf="
          formularioPropiedad.get('descripcion')?.invalid &&
          formularioPropiedad.get('descripcion')?.touched
        "
      >
        La descripción es obligatoria.
      </div>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input
        id="precio"
        type="number"
        formControlName="precio"
        placeholder="Precio"
      />
      <div
        class="error"
        *ngIf="
          formularioPropiedad.get('precio')?.invalid &&
          formularioPropiedad.get('precio')?.touched
        "
      >
        El precio es obligatorio y debe ser mayor o igual a 0.
      </div>
    </div>
    <div class="form-group">
      <label for="reglas">Reglas de la casa</label>
      <textarea
        id="reglas"
        formControlName="reglas"
        placeholder="Ejemplo: No se permiten mascotas, no fumar, etc."
      ></textarea>
      <div
        class="error"
        *ngIf="
          formularioPropiedad.get('reglas')?.invalid &&
          formularioPropiedad.get('reglas')?.touched
        "
      >
        Las reglas de la casa son obligatorias.
      </div>
    </div>
    <div class="form-group">
      <label for="contacto">Contacto</label>
      <input
        id="contacto"
        type="text"
        formControlName="contacto"
        placeholder="Teléfono"
      />
      <div
        class="error"
        *ngIf="
          formularioPropiedad.get('contacto')?.invalid &&
          formularioPropiedad.get('contacto')?.touched
        "
      >
        El contacto es obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="servicios">Servicios incluidos</label>
      <textarea
        id="servicios"
        formControlName="servicios"
        placeholder="Ejemplo: Agua, luz, internet, limpieza, etc."
      ></textarea>
      <div
        class="error"
        *ngIf="
          formularioPropiedad.get('servicios')?.invalid &&
          formularioPropiedad.get('servicios')?.touched
        "
      >
        Los servicios incluidos son obligatorios.
      </div>
    </div>
    <button
      class="full-width btn-blue"
      type="submit"
      [disabled]="formularioPropiedad.invalid || errorImagenes"
    >
      Publicar
    </button>
  </form>
</div>
