<!-- Navbar bonito azul -->
<nav class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="Home" class="navbar-icon" />
    <span class="navbar-title">Hakoroom</span>
  </div>
  <div class="navbar-right">
    <div class="navbar-links">
      <a routerLink="/" class="navbar-link">Inicio</a>
      <a routerLink="/Publicaciones" class="navbar-link">Publicaciones</a>
      <a routerLink="/reportes" class="navbar-link">Administracion</a>
      
      <a routerLink="/agendar-visita" class="navbar-link">Visitas</a>
    </div>
    <div class="navbar-profile">
      <a routerLink="/login" class="navbar-link">Registrarse</a>
    </div>
  </div>
</nav>
