<aside class="w-64 h-screen bg-gray-800 text-white fixed">

  <nav class="mt-4">
    <ul class="flex flex-col gap-2 p-4">
      <li>
        <a routerLink="/publicar-propiedad" routerLinkActive="bg-gray-700"
           class="block px-4 py-2 rounded hover:bg-gray-700 transition">
          🏠 Agregar Locación
        </a>
      </li>
      <li>
        <a routerLink="/AdminLocaciones" routerLinkActive="bg-gray-700"
           class="block px-4 py-2 rounded hover:bg-gray-700 transition">
          📦 Gestion de Locaciones
        </a>
      </li>
      <li>
        <a routerLink="/reportes" routerLinkActive="bg-gray-700"
           class="block px-4 py-2 rounded hover:bg-gray-700 transition">
          📊 Reportes
        </a>
      </li>
    </ul>
  </nav>
</aside>
